body
{
    background-size: cover;
    background-position:  center;
}

#restart_b
{
    color: aqua;
    
}

li
{
    text-align: center;
    
}

h1
{
    color: cornflowerblue;
    font-family: 'Oswald', sans-serif;
    position: center ;
    margin-left: 175px;
}

#instruction_b
{
    float: right;
    font-size: 30px;
    margin-right:5px;
    margin-bottom: 28px;
    border-radius: 0;
}